<h1>Listing Secret Codes</h1>

<table class="table table-striped">
  <tr>
    <th>Email ID</th>
    <th>Secret Code</th>
  </tr>

<% @secret_codes.each do |secret_code| %>
  <tr>
    <td></td>
    <td><%= secret_code.user.try(:email)%></td>
    <td><%= secret_code.code%></td>
    <td><%= link_to 'Show', secret_code %></td>
    <% if can? :update, secret_code %>
    <td><%= link_to 'Edit', edit_secret_code_path(secret_code) %></td>
    <% end %>
    <% if can? :update, secret_code %>
    <td><%= link_to 'Destroy', secret_code, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Secret code', new_secret_code_path %>
