<h3>Listing Secret Codes</h3>
<% if can? :create, SecretCode %>
<%= link_to  new_secret_code_path, :class => [:btn, :"btn-success"] do |l|%>
      <i class="icon-plus-sign icon-white"></i>
      New Secret code
    <% end %>
 <% end %>   
<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>Email ID</th>
    <th>Secret Code</th>
    <th>Actions</th>
  </tr>
  </thead>
<% @secret_codes.each do |secret_code| %>
  <tr>
    <td><%= secret_code.user.try(:email)%></td>
    <td><%= secret_code.code%></td>
    <td><%= link_to 'Show', secret_code %></td>
    <% if can? :update, SecretCode %>
    <td><%= link_to 'Edit', edit_secret_code_path(secret_code) %></td>
    <% end %>
    <% if can? :update, SecretCode %>
    <td><%= link_to 'Destroy', secret_code, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
